.cards{
    display: flex;
    justify-content: space-between;
}

@media only screen and (width <= 1200px) {
    .cards{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}