.header{
    grid-column: 2/ span 10;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__top{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80vh;
}

.header__top__image{
    max-width: 35vw;
}


.header__top__side__title{
    font-size: 6.4rem;
    margin-bottom: 1rem;
}

.header__top__side__container{
    display: flex;
}

.header__top__side__info{
    font-size: 1.6rem;
    margin: 0 1rem 0 0
}

.header__indicator{
    margin-top: 5rem;
    text-align: center;
    width: 20rem;
}