.section{
    display: flex;
    grid-column: 2/span 10;
    justify-content: space-between;
    min-height: 100vh;
    border-top: .2rem solid #fff;
}

.section__left{
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    margin-left: 0;
    width: 32.3vw;
}

.section__title{
    margin-top: 0;
    font-size: 5.8rem;
    text-transform: uppercase;
    margin-bottom: 0;
    text-align: left;
    border-bottom: .2rem solid #fff;
    width: 100%;
}

.section__subtitle{
    text-align: left;
    margin-top: 0;
    font-size: 4.8rem;
    font-weight: normal;
}

.section__indicator{
    height: 10rem;
    margin-right: auto;
}

.section__side{
    margin-top: 10rem;
    margin-right: 0;
    width: 59.3%;
    border-top: .2rem solid #fff;
}