.button{
    accent-color: #ffff00;
    margin: .3rem;
}

.label{
    margin-right: 1rem;
}

input:checked + label{
    color: #ffff00;
}

.preview{
    font-size: 16rem;
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin: 3rem auto;
}

@media only screen and (width <= 750px) {
    .preview{
        font-size: 10rem;
    }
    .buttons{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
    
}

@media only screen and (width <= 480px) {
    .label{
        font-size: 1.2rem;
    }
}

@media only screen and (width <= 1200px) {
    .card{
        padding: 0 2rem 1rem;
    }
}